<div class="container" data-width="narrow">
  <h1>About me</h1>
  <p>
    Over 10 years of experience in front-end and back-end development,
    specialising in enterprise solutions. Proven track record delivering
    scalable, maintainable systems in agile environments using JavaScript,
    TypeScript, Angular, Node.js, and monolithic architecture. Adept at
    technical leadership, CI/CD implementation, and automated testing.
    Consistently adopts a customer-focused, results-driven approach to software
    engineering.
  </p>
  <h1>Skills</h1>
  <p class="skill">
    <strong>Programming Languages:</strong> JavaScript, TypeScript, HTML, CSS,
    SQL
  </p>
  <p class="skill">
    <strong>Web Technologies:</strong> Angular, AngularJS, Angular Material,
    RxJS, Node.js, Express, GraphQL
  </p>
  <p class="skill"><strong>Cloud Platforms:</strong> Azure, Firebase, GitHub</p>
  <p class="skill"><strong>DevOps Tools:</strong> Docker, GitHub Actions</p>
  <p class="skill"><strong>Testing Tools:</strong> Jest, Cypress, Playwright</p>
  <p class="skill"><strong>Databases:</strong> PostgreSQL, SQLite, MySQL</p>
  <p class="skill">
    <strong>Soft Skills:</strong> Mentoring, Problem-solving, Team
    Collaboration, Agile Methodologies
  </p>
  <h1>Courses</h1>
  <p>2026</p>

  <ul>
    <li>Claude Code - Lydia Hallie</li>
    <li>Domain Modeling for Humans and AI - Mike North</li>
    <li>TypeScript Monorepos: Architect Maintainable Codebases - Mike North</li>
    <li>Advanced Angular: Performance & Enterprise State - Alex Okrushko</li>
    <li>
      Intermediate Angular: Signals & Dependency Injection - Alex Okrushko
    </li>
  </ul>
  2025

  <ul>
    <li>Tailwind CSS 4+ - Steve Kinney</li>
    <li>Enterprise UI Development: Testing & Code Quality - Steve Kinney</li>
    <li>Complete Intro to Containers, v2 - Biran Holt</li>
    <li>Website Accessibility, v3 - Jon Kuperman</li>
    <li>Complete Intro to React, v9 - Brian Holt</li>
    <li>The Hard Parts of Asynchronous JavaScript - Will Sentance</li>
  </ul>
  2024
  <ul>
    <li>Complete Intro to SQL & PostgreSQL - Brian Holt</li>
    <li>Complete Intro to SQLite - Brian Holt</li>
    <li>Web Security, v2 - Steve Kinney</li>
    <li>Complete Intro to Databases - Brian Holt</li>
    <li>Full Stack for Front-End Engineers - Jem Young</li>
    <li>API Design in Node.js - Scott Moss</li>
  </ul>
  2023
  <ul>
    <li>Everything You'll Need to Know About Git - ThePrimeagen</li>
    <li>JavaScript: The Hard Parts, v2 - Will Sentance</li>
    <li>Developer Productivity - ThePrimeagen</li>
  </ul>
  2022
  <ul>
    <li>Hardcore Functional Programming in JavaScript, v2 – Brian Lonsdorf</li>
    <li>The Hard Parts of Functional JavaScript – Will Sentance</li>
    <li>Functional-Light JavaScript, v3 – Kyle Simpson</li>
    <li>Functional JavaScript First Steps – Anjana Vakil</li>
  </ul>
</div>
