<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Site.Title }}</title>
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta
      name="description"
      content="A senior software engineer with 10 years of experience in developing enterprise applications"
    />

    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $styles := resources.Get "styles/styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    {{ with resources.Get "favicon-32x32.png" }}
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ .RelPermalink }}"
    />
    {{ end }} {{ with resources.Get "favicon-16x16.png" }}
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ .RelPermalink }}"
    />
    {{ end }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>{{ partial "header.html" . }}</header>
      <main>{{ block "main" . }} {{ end }}</main>
    </div>
  </body>
</html>
