:host {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 80px;
}

header {
  background-color: var(--bg_1);
}

.container {
  --container-max-width: 1130px;
  --container-padding: 1rem;

  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);

  &[data-width="small"] {
    --container-max-width: 920px;
  }

  &[data-width="narrow"] {
    --container-max-width: 750px;
  }
}

footer {
  text-align: center;
  color: var(--grey0);
}
