<div class="container" data-width="narrow">
  <h1 class="text-3xl font-bold mt-8 mb-6">Experiences</h1>
  @for(experience of experiences; track experience){
  <div class="experience my-20 flex flex-col gap-5" [class.mt-0]="$first">
    <p>
      <span class="company">{{ experience.company}}</span>&nbsp;<span
        class="role"
        >{{ experience.role}}</span
      >
      ({{experience.startDate}} - {{experience.endDate}})
    </p>
    <p>{{ experience.description }}</p>
    <ul class="technologies">
      @for(technology of experience.technologies; track technology){
      <li>{{ technology }}</li>
      }
    </ul>
  </div>
  }
</div>
