<script>
  function toggleMenu() {
    const x = document.getElementById("topnav-items");
    if (x.className === "topnav-list") {
      x.className += " navopen";
    } else {
      x.className = "topnav-list";
    }
  }
</script>
<section class="container">
  <nav class="topnav">
    <a class="topnav-title" href="{{ .Site.BaseURL }}">
      {{ .Site.Params.Author }}
    </a>
    {{ with .Site.Menus.main }}
    <a href="javascript:void(0);" class="mobilemenu" onclick="toggleMenu()"
      >Menu</a
    >
    <ul id="topnav-items" class="topnav-list">
      {{ range sort . }}
      <li class="topnav-item">
        <a class="topnav-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
</section>
