{{ define "main" }}

<div class="hero">
  <div class="hero--content">
    <h2 class="hero--name">{{ .Params.name }}</h2>
    <p>{{ .Params.intro }}</p>
  </div>
  <div class="hero--scroll-down">scroll down</div>
</div>
<div id="maincontent">
  <select class="no-print">
    {{ range $.Site.Home.AllTranslations }}
    <option
      {{
      if
      in
      .RelPermalink
      $.Page.Language.Lang
      }}selected{{
      end
      }}
      value="{{.RelPermalink}}"
    >
      {{ .Language.LanguageName }}
    </option>
    {{ end }}
  </select>
  {{ $myData := index .Site.Data .Lang }} {{ with $myData.experiences }} {{range
  .jobs}}
  <div class="experience">
    <p>
      <span class="company">{{ .company }}</span>
      <span class="role">{{ .role }}</span> ({{.startDate}} - {{.endDate}})
    </p>
    {{ if .description }}
    <p>{{ .description }}</p>
    {{ end }} {{ if .technologies }}
    <ul class="technologies">
      {{ range .technologies }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{end}}
  </div>
  {{end}} {{ end }}
</div>
{{ end }}
