<nav class="topnav">
  <a class="topnav-title" routerLink="/"> Serge Honderdos </a>
  <a href="/" class="mobilemenu" (click)="toggleMenu($event)">Menu</a>
  <ul #topnavItems class="topnav-list">
    <li class="topnav-item">
      <a class="topnav-link" routerLink="/experiences">Experiences</a>
    </li>
    <li class="topnav-item">
      <a
        class="topnav-link"
        download
        href="cv-serge-honderdos-angular-expert.pdf"
        >Download Resume</a
      >
    </li>
  </ul>
</nav>
